<div id="outer">

  <div id="inner1">
    <div>
      <button [disabled]="currentJetonIdx == 0" (click)="previous()">-</button>
    </div>

    <div class="image-container">
      <app-jeton [jetonAmount]="jetons[currentJetonIdx]"></app-jeton>
    </div>

    <div>
      <button [disabled]="currentJetonIdx == jetons.length - 1" (click)="next()">+</button>
    </div>
  </div>

  <div id="inner2">
    <button (click)="handleClick.delete()" class="active">X</button>
  </div>

  <div id="inner3">
    <div>Jetons</div>
    {{dataService.currentMoney}}
  </div>

</div>
