<div id="outer">

  <div id="inner1">
    <div class="btnOuter">
      <button class="black" [disabled]="currentJetonIdx == 0" (click)="previous()">-</button>
    </div>

    <div class="image-container">
      <app-jeton [bigger]="true" [jetonAmount]="jetons[currentJetonIdx]"></app-jeton>
    </div>

    <div class="btnOuter">
      <button class="black" [disabled]="currentJetonIdx == jetons.length - 1" (click)="next()">+</button>
    </div>
  </div>

  <div *ngIf="!dataService.running" class="middle">
    <div>remaining</div>
    <div>time</div>
    <div>{{dataService.remainingTime}} seconds</div>
  </div>

  <div  *ngIf="dataService.running" class="middle">
    <div>game</div>
    <div>running</div>
  </div>

  <div id="inner2">
    <div class="inner white">
      <div>Jetons</div>
      {{dataService.currentMoney}}
    </div>

    <div class="inner">
      <input type="checkbox" id="switch" (change)="handleClick.betweenBetsEnabled = !handleClick.betweenBetsEnabled"/>
      <label for="switch"></label>
    </div>

    <div class="btnOuter">
      <button (click)="handleClick.delete()" class="active black">X</button>
    </div>
  </div>

</div>
