<div id="outer">

  <div id="inner1">
    <div class="btnOuter">
      <button class="black" [disabled]="currentJetonIdx == 0" (click)="previous()"><span>-</span></button>
    </div>

    <div class="image-container">
      <app-jeton [bigger]="true" [jetonAmount]="jetons[currentJetonIdx]"></app-jeton>
    </div>

    <div class="btnOuter">
      <button class="black" [disabled]="currentJetonIdx == jetons.length - 1" (click)="next()"><span>+</span></button>
    </div>
  </div>

  <div *ngIf="!dataService.running" class="middle">
    <div>Verbleibende</div>
    <div>Zeit</div>
    <div>{{dataService.remainingTime}} {{formatTime()}}</div>
  </div>

  <div  *ngIf="dataService.running" class="middle">
    <div>Spiel</div>
    <div>läuft..</div>
  </div>

  <div id="inner2">
    <div class="inner white">
      <div>Jetons</div>
      {{dataService.currentMoney}}
    </div>

    <div class="inner">
      <input type="checkbox" id="switch" (change)="toggle()"/>
      <label for="switch"></label>
    </div>

    <div class="btnOuter">
      <button (click)="handleClick.delete()" class="active black"><span>x</span></button>
    </div>
  </div>

</div>
