$height: 8vh;
$outerWidth: calc($height * 14);
$border-color: white;

#center {
  display: flex;
  justify-content: center;
}

#outer {
  display: flex;
  flex-direction: row;

  width: $outerWidth;

  margin: 20px;
}

.zero {
  height: calc($height * 3) !important;
}

.row {
  display: flex;
}

.innerTable {
  .elem:not(:last-of-type) {
    border-top: 2px solid $border-color;
    border-right: 2px solid $border-color;
  }

  .elem:last-of-type {
    border-top: 2px solid $border-color;
    border-right: 2px solid $border-color;
  }

  .elem:first-of-type {
    border-left: 2px solid $border-color;
  }

  .outbet2 {
    border-bottom: 2px solid $border-color;
  }

}

.outerTable2 {
  .elem {
    border-top: 2px solid $border-color;
    border-right: 2px solid $border-color;
  }

  .elem:last-of-type {
    border-bottom: 2px solid $border-color;

    height: calc($height + 2px) !important;
  }
}

.outerTable1 {
  .elem {
    border-top: 2px solid $border-color;
    border-left: 2px solid $border-color;
  }

  .elem:last-of-type {
    border-bottom: 2px solid $border-color;

    height: calc($height * 3 + 2px) !important;
  }
}

.elem {
  flex: 1;

  font-family: "Arial", serif;
  font-size: 16px;
  color: white;

  background-color: darkgreen;

  height: $height;
  width: $height;

  box-sizing: border-box;
}

.invisible {
  position: absolute;

  width: calc($outerWidth / 28);
  height: calc($height / 2);

  //border: 1px solid blue;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
}

.jetonPlace {
  width: calc($height / 2);
  height: calc($height / 2);

  z-index: 5;
}


.invisible1 {
  transform: translateY(100%);
}

.invisible2 {
  transform: translateX(100%);
}

.invisible3 {
  transform: translate(100%, 100%);
}

.mark {
  border: 1px solid blue;
}


.innerbet, .outbet1, .outbet2, .zero, .twoToOne {
  display: flex;
  align-items: center;
  justify-content: center;
}

.red {
  background-color: #e50000;
}

.black {
  background-color: black;
}

.hideText {
  position: absolute;
}

.active {
  border: 1px solid gold;
  border-radius: 50%;
}

.golden-ring {
  position: absolute;
  border: 4px solid gold; /* Stilisieren Sie die Border nach Ihren Wünschen */
  border-radius: 50%; /* Setzen Sie den Border-Radius auf 50% für einen Kreiseffekt */
  animation: pulse 2s infinite ease-in-out;

  div {
    position: relative;
    width: calc($height / 2);
    height: calc($height / 2);

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@keyframes pulse {
  0% {
    border-color: gold;
    transform: scale(1);
  }
  50% {
    border-color: #928002; /* Ein rötlicher Goldton */
    transform: scale(1.3);
  }
  100% {
    border-color: gold;
    transform: scale(1);
  }
}

