div {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.countdown-container {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #34343f;
  color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  font-size: 24px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 15px;
}

.blur {
  filter: blur(2px);
}

app-wheel {
  z-index: 10;
}

.roulette-table {
  display: flex;
  justify-content: space-between;
}

.innen-wetten, .aussen-wetten {
  margin: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 8px;
  text-align: left;
}

.auszahlung {
  text-align: center;
}

.franzoesisch {
  text-align: center;
  font-style: italic;
}
