div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  height: 50vh;
}

#inner, #ball {
  position: absolute;
}

#ball {
  width: 16px;
  height: 16px;
  z-index: 10;

  transform: rotateZ(0.5deg) translateY(-11.5vh);
}

